
<% @todo_lists.each do |todo_list| %>
<div class="index_row clearfix">
  <h2 class="todo_list_title"><%= link_to todo_list.title, todo_list %></h2>
  <p class="todo_list_sub_title"><%= todo_list.description %></p>
</div>
<% end %>

<div class="links">
  <h1><%= link_to "New Todo List after CI/CD setup Date 03-07-2018", new_todo_list_path %></h1>
</div>
