<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>
  </head>

  <% if devise_controller? %>
  <body class="fixed-nav sticky-footer bg-dark login-image" id="page-top">
    <% else %>
      <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <% end %>

    <% if devise_controller? %>
      <%= yield %>
    <% else %>
      <%= render partial: 'layouts/dashboard/header' %>
      <div class='content-wrapper' style="margin-top: 150px">
        <div class="container-fluid">
          <%= yield %>
        </div>
        <%= render partial: 'layouts/dashboard/footer' %>
      </div>
    <% end %>
</body>
</html>
